@use "helpers/intermediary" as h;

.about {
   padding-bottom: 0;
   padding-top: 0;

   // .about__container
   &__container {
      padding-top: 13.75rem; // 220px
      padding-bottom: 11.25rem; // 180px

      background-image: image-set(
         url("../images/about-bg.avif") type("image/avif"),
         url("../images/about-bg.webp") type("image/webp"),
         url("../images/about-bg.png")
      );
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }
   @media (max-width: 992px) {
      &__container {
         padding-bottom: 8.75rem; // 140px
         padding-top: 11.25rem; // 180px
         background-size: cover;
      }
   }
   @media (max-width: 768px) {
      &__container {
         padding-top: 8.75rem; // 140px
         padding-bottom: 8.75rem; // 140px
      }
   }
   @media (max-width: 590px) {
      &__container {
         background-position: -8.925rem;
      }
   }

   // .about__inner

   &__inner {
      max-width: 38.75rem; // 620px
      @include h.flex-m(column, space-between);
      gap: clamp(3.125rem, 26.7vw, 33.125rem);
   }

   // .about__content

   &__content {
      @include h.flex-m(column, space-between);
      gap: clamp(1.25rem, 2.65vw, 3.125rem);
   }

   // .about__title

   &__title {
   }
   @media (max-width: 992px) {
      &__title {
         font-size: 28px;
      }
   }
   @media (max-width: 768px) {
      &__title {
         font-size: 20px;
      }
   }

   // .about__box

   &__box {
      width: 100%;
      @include h.flex-m(row, flex-start);
      gap: clamp(1.25rem, 2.65vw, 3.125rem);
   }
   @media (max-width: 992px) {
      &__box {
         flex-direction: column;
      }
   }

   // .about__column

   &__column {
      @include h.flex-m(column, space-between);
      gap: clamp(0.25rem, 2.67vw, 1.5rem);
   }

   // .about__column--left

   &__column--left {
      max-width: 15.5rem; // 248px
   }

   // .about__column--right

   &__column--right {
      max-width: 16.375rem; // 262px
   }
   @media (max-width: 590px) {
      &__column--left,
      &__column--right {
         max-width: 168px;
         font-size: 12px;
      }
   }

   // .about__text

   &__text {
      letter-spacing: 0em;
      text-align: justify;
   }
   @media (max-width: 992px) {
      &__text:nth-child(2) {
         display: none;
      }
   }

   // .about__decor

   &__decor {
      max-width: 16.875rem; // 270px
      color: var(--accent-color);
      text-align: justify;
   }
   @media (max-width: 1200px) {
      &__decor {
         transform: translateY(40px);
      }
   }
   @media (max-width: 992px) {
      &__decor {
         transform: translateY(60px);
      }
   }
   @media (max-width: 768px) {
      &__decor {
         max-width: 132px; // 270px
         font-size: 12px;
         transform: translateY(70px);
      }
   }
}
