@use "helpers/intermediary" as h;

.footer {
   width: 100%;
   padding-top: 100px;

   // .footer__container

   &__container {
      padding-top: 10px;
      padding-bottom: 60px;
      @include h.flex(column, 15, space-between);
      position: relative;
      background-color: var(--light-bg-color);
      z-index: 1;
   }
   @media (max-width: 680px) {
      &__container {
         padding-bottom: 40px;
      }
   }

   // .footer__inner

   &__inner {
      @include h.flex(row, 30, space-between);
      padding-bottom: 40px;
   }
   @media (max-width: 768px) {
      &__inner {
         position: relative;
         min-height: 229px;
         padding-bottom: 30px;
      }
   }
   @media (max-width: 680px) {
      &__inner {
         min-height: 400px;
      }
   }

   // .footer__left

   &__left {
      display: flex;
      gap: clamp(20px, 5.1vw, 100px);
      position: relative;
   }
   @media (max-width: 768px) {
      &__left {
      }
   }

   // .footer__contacts

   &__contacts {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   // .footer__title

   &__title {
      color: var(--secondary-text-color);
   }
   @media (max-width: 992px) {
      &__title {
         font-size: 20px;
      }
   }
   @media (max-width: 680px) {
      &__title {
         transform: translateY(50px);
      }
   }

   // .footer__socials

   &__socials {
      @include h.flex(column, 20);
      color: var(--secondary-text-color);
   }
   @media (max-width: 768px) {
      &__socials {
         gap: 10px;
      }
   }

   // .footer__item

   &__item {
   }

   &__item a {
      display: inline-block;
      transition: color 0.2s ease-in-out;
   }

   &__item a:hover {
      color: var(--primary-text-color);
   }
   @media (max-width: 992px) {
      &__item {
         font-size: 12px;
      }
   }

   // .footer__photo

   &__photo {
      padding: 13px 19px;
   }
   @media (max-width: 768px) {
      &__photo {
         display: none;
      }
   }

   // .footer__img-box

   &__img-box {
      max-width: 273px;
      max-height: 273px;
   }
   @media (max-width: 768px) {
      &__img-box {
         max-width: 200px;
         max-height: 200px;
      }
   }

   // .footer__right

   &__right {
      @include h.flex(column, 0, space-between);
   }

   // .footer__cta

   &__cta {
      display: flex;
      flex-direction: column;
      font-size: 1.14375rem; // 18.3px
      line-height: 0.87;
      letter-spacing: 0em;
      text-align: right;
      color: var(--secondary-text-color);
      span {
         display: inline-block;
      }
   }
   @media (max-width: 992px) {
      &__cta {
         span {
            font-size: 12px;
         }
      }
   }
   @media (max-width: 680px) {
      &__cta {
         transform: translateY(50px);
      }
   }

   // .footer__btn

   &__btn {
      padding: 14px 15px;
      cursor: pointer;
      transition:
         background-color 0.2s ease-in-out,
         color 0.2s ease-in-out;
   }
   @media (max-width: 992px) {
      &__btn {
         font-size: 12px;
      }
   }

   // .footer__bottom

   &__bottom {
      display: flex;
      justify-content: space-between;
   }
   @media (max-width: 768px) {
      &__bottom {
         position: relative;
         font-size: 12px;
      }
   }

   // .footer__pivacy

   &__pivacy {
   }

   // .footer__triangle

   &__triangle {
      max-width: 20px;
      max-height: 14px;
      svg {
         width: 100%;
         height: 100%;
      }
   }
   @media (max-width: 768px) {
      &__triangle {
         position: absolute;
         top: 0;
         left: 50%;
         transform: translate(-50%, 0);
         svg {
            height: 14px;
         }
      }
   }

   // .footer__copyright

   &__copyright {
   }

   // .footer__stripe

   &__stripe {
      width: 100%;
      height: 12px;
      svg {
         width: 100%;
         height: 100%;
      }
   }
}
//=========== .corner ===========

.footer__photo .corner {
   border-color: var(--secondary-text-color);
   width: 30px;
   height: 30px;
}
.footer__btn .corner {
   border-color: var(--secondary-text-color);
}

//=========== :hover ============

.footer__btn:hover {
   background-color: var(--secondary-text-color);
   color: var(--primary-text-color);
}

.footer__item a:hover {
   color: var(--primary-text-color);
}
.footer__patch {
   position: absolute;
   top: -100px;
   left: 0px;
   right: 0px;
   z-index: -1;
   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}
@media (max-width: 680px) {
   .footer__patch {
      top: -33px;
   }
}

.footer__photo--mobile {
   display: none;
}
@media (max-width: 768px) {
   .footer__photo--mobile {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px 15px;
   }
}
