@use "helpers/intermediary" as h;

.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 100;

   background-color: var(--primary-bg-color);
   padding: 1.25rem 0; // 20px

   // .header__container

   &__container {
      @include h.flex(row, 0, space-between);
      position: relative;
   }

   // .header__left

   &__left {
      flex: 1 1 40rem; // 640px
      align-items: center;
   }

   // .header__logo

   &__logo {
      height: 3.875rem; // 62px
      max-width: 14.6875rem; // 235px
      display: flex;
      align-items: center;
      padding: 1.5625rem 1.1875rem; // 25px 19px
      a {
         font-size: 1rem; // 16px
         text-transform: uppercase;
      }
   }
   @media (max-width: 768px) {
      &__logo {
         height: 2.9375rem; // 47px
         max-width: 13.1375rem; // 211px
         padding: 1.25rem 1.1875rem; // 20x 19px
         a {
            font-size: 0.875rem; // 14px
         }
      }
   }

   // .header__right

   &__right {
      display: flex;
      flex: 1 1 37.5rem; // 600px
      justify-content: space-between;
      align-items: center;
   }

   // .header__nav

   &__nav {
   }

   // .header__items

   &__items {
      display: flex;
      align-items: center;
      gap: clamp(0.625rem, 2vw, 1.875rem);
   }

   // .header__item

   &__item {
      a {
         font-size: 0.75rem;
      }
   }

   // .header__connect

   &__connect {
      display: flex;
      align-items: center;
      height: 2.3125rem; // 37px
   }

   // .header__btn

   &__btn {
      font-size: 0.75rem; // 12px
      height: 100%;
      padding: 0 1.25em; // 15px
      cursor: pointer;
      color: var(--primary-text-color);
   }
}
// ===== corner-logo ======

.corner-border--tally {
   &::before {
      position: absolute;
      content: "";
      top: 6px;
      left: 6px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--auxiliary-color-logo);
   }
}

// ========= :hover =========

.header__item {
   transition: color 0.2s ease-in-out;
}
.header__item:hover {
   color: var(--accent-color);
}

.header__btn {
   transition:
      background-color 0.2s ease-in-out,
      color 0.2s ease-in-out;
}

.header__connect .corner {
   transition:
      opacity 0.2s ease-in-out,
      visibility 0.2s ease-in-out;
}

.header__connect:hover .corner {
   opacity: 0;
   visibility: hidden;
}

.header__connect:hover .header__btn,
.header__btn:hover {
   background-color: var(--accent-color);
   color: var(--primary-bg-color);
}
// ============= burger ================= //

.burger {
   display: none;
   width: 44px;
   height: 44px;
   position: relative;
   background-color: transparent;
}

.burger-line {
   position: absolute;
   left: 10px;
   width: 24px;
   height: 2px;
   top: 50%;
   transform: translateY(-50%);
   border-radius: 10px;
   background-color: var(--primary-text-color);
   transition:
      background-color 0.2s ease,
      transform 0.2s ease,
      opacity 0.2s ease;
}
.burger-line:nth-child(1) {
   margin-top: -8px;
}
.burger-line:nth-child(2) {
}
.burger-line:nth-child(3) {
   margin-top: 8px;
}
.header__nav {
}

@media (max-width: 992px) {
   .burger {
      position: fixed;
      display: block;
      top: 51px;
      right: 20px;
      transform: translateY(-50%);
      z-index: 999;
   }
   .burger.active .burger-line {
      background-color: var(--primary-bg-color);
   }
   .burger.active .burger-line:nth-child(1) {
      margin: 0;
      transform: translateY(-50%) rotate(45deg);
   }
   .burger.active .burger-line:nth-child(2) {
      opacity: 0;
   }
   .burger.active .burger-line:nth-child(3) {
      margin: 0;
      transform: translateY(-50%) rotate(-45deg);
   }
   .header__right {
      position: fixed;
      transform: translateX(100%);
      top: 0;
      right: 0;
      width: 50vw;
      height: 100vh;
      flex-direction: column;
      align-items: start;
      padding-left: 40px;
      padding-top: 40px;
      padding-bottom: 80px;
      background-color: var(--light-bg-color);
      transition: transform 0.2s ease;
   }
   .header__right.is-open {
      transform: translateX(0);
   }
   .header__items {
      flex-direction: column;
      align-items: start;
      color: var(--primary-bg-color);
   }
   .header__btn {
      color: var(--primary-bg-color);
   }
   .header__connect .corner {
      border-color: var(--primary-bg-color);
   }
}
@media (max-width: 768px) {
   .burger {
   }
   .header__right {
      width: 100vw;
   }
}
