@use "helpers/intermediary" as h;

.hero {
   padding-top: 6.25rem;
   padding-bottom: clamp(4.375rem, 14.5vw, 6.25rem); // 70px 100px

   // .hero__container

   &__container {
      display: grid;
      grid-template-columns: minmax(0, 570fr) minmax(0, 590fr);
      column-gap: clamp(1.25rem, 6vw, 2.5rem);
   }
   @media (max-width: 768px) {
      &__container {
         grid-template-columns: 1fr;
         grid-template-rows: auto auto;
         column-gap: 0;
         row-gap: clamp(1rem, 2.5vw, 1.25rem);
         grid-template-rows: auto auto auto;
      }
   }

   &__title--mobile {
      display: none;
   }

   // .hero__left

   &__left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.875rem;
      h1 {
         margin-bottom: clamp(3rem, 5vw, 6.25rem); /* ≈ 100px */
      }
   }
   @media (max-width: 1200px) {
      &__left {
         h1 {
            font-size: 2.25rem;
         }
      }
   }
   @media (max-width: 992px) {
      &__left {
         h1 {
            font-size: 28px;
         }
      }
   }
   @media (max-width: 768px) {
      &__title {
         width: 100%;
      }
      &__title--mobile {
         display: block;
         font-size: 1.75rem; // 28px
         max-width: 25rem; // 400px
      }
      &__left {
         order: 2;
         gap: 1.5rem;
         h1 {
            display: none;
         }
      }
   }

   // .hero__right

   &__right {
      // max-height: 35.875rem; // 574px
      height: auto;
      max-width: 600px;
   }

   @media (max-width: 768px) {
      &__right {
         order: 1;
         max-width: 100%;
      }
   }

   // .hero__inner

   &__inner {
      display: grid;
      height: 100%;
   }
   @media (max-width: 768px) {
      &__inner {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
   }

   // .hero__item

   &__item {
      position: relative;
      grid-area: 1 / 1;
      font-size: 1.125rem; // 18px
      line-height: 0.87;
      text-align: justify;
      color: var(--accent-color);
   }
   @media (max-width: 768px) {
      &__item {
         grid-area: auto;
      }
   }
   @media (max-width: 680px) {
      &__item {
         font-size: 0.75rem; // 12px
      }
   }

   // .hero__text

   &__text {
      display: flex;
      justify-content: space-between;
      p {
         max-width: 12.8125rem; // 205px
         text-align: justify;
         font-size: inherit;
      }
   }
   @media (max-width: 768px) {
      &__text {
         gap: 1.25rem; // 20px
      }
   }
   @media (max-width: 680px) {
      &__text {
         font-size: 0.75rem;
         p {
            max-width: 11rem; // 176px
         }
      }
   }

   // .hero__image

   &__image {
      position: relative;
      height: 100%;
      width: 100%;
      aspect-ratio: 500 / 574;
      overflow: hidden;
      img {
         object-fit: cover;
      }
   }
}
@media (max-width: 768px) {
   .hero {
      padding-bottom: 4.375rem;
   }
}

.item-left {
   transform: translate(0, 0);
   max-width: 6rem; // 96px
}
.item-center {
   // transform: translate(200px, 67px);
   transform: translate(clamp(1.25rem, 13.8vw, 12.5rem), clamp(0.9375rem, 4.65vw, 4.1875rem));
   max-width: 5.625rem; // 90px
}
.item-right {
   // transform: translate(400px, 137px);
   transform: translate(clamp(5rem, 27.7vw, 25rem), clamp(2.8125rem, 9.51vw, 8.5625rem));
   width: 7.75rem;
   height: 6.8125rem;
   display: flex;
   align-items: center;
   svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
   span {
      display: inline-block;
      padding: 0 2.0625rem; // 33px
      word-spacing: 1.5625; // 25px
   }
}
@media (max-width: 768px) {
   .item-left,
   .item-center,
   .item-right {
      transform: none;
   }
}
@media (max-width: 680px) {
   .item-right {
      width: 6.25rem; // 100px
      height: 6.25rem; // 100px
      span {
         padding: 0 1.5625rem;
      }
   }
}
