@use "helpers/intermediary" as h;

.modal-cost {
   position: fixed;
   top: 50%;
   left: 50%;
   transition: transform 0.4s ease-in-out;
   transform: translate(-50%, -50%) scale(0.65);

   opacity: 0;
   visibility: hidden;
   z-index: 102;

   // .modal-cost__btn-close

   &__btn-close {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1rem;
      padding: 10px;
   }

   // .modal-cost__content

   &__content {
      position: relative;
      padding: 1px;
      background-color: #fff;

      img {
         max-width: 80vw;
         max-height: 80vh;
         width: auto;
         height: auto;
         display: block;
      }
   }
}

.modal-cost.is-open {
   opacity: 1;
   visibility: visible;
   transform: translate(-50%, -50%) scale(1);
}
