@use "helpers/intermediary" as h;

.stages {
   // .stages__container

   &__container {
      display: flex;
      flex-direction: column;
      gap: clamp(1.25rem, 2.7vw, 3.125rem); // 20px 50px
   }

   // .stages__title

   &__title {
   }
   @media (max-width: 768px) {
      &__title {
         font-size: 20px;
      }
   }

   // .stages__list

   &__list {
      counter-reset: stage;
      list-style: none; // ← ВАЖНО
      padding-left: 0;
      display: flex;
      flex-direction: column;
   }

   // .stages__item

   &__item {
      position: relative;
      counter-increment: stage;
      padding-left: 12.5rem; // 200px
      padding-top: 1rem;
      padding-bottom: 1rem;
      min-height: 3.125rem; // 50px
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      gap: clamp(1.25rem, 6.2vw, 7.3125rem); // 20px 117px
      border-top: 1px solid var(--primary-text-color);
   }
   &__item:last-child {
      border-bottom: 1px solid var(--primary-text-color);
   }
   &__item::before {
      position: absolute;
      content: counter(stage, decimal-leading-zero);
      top: 50%;
      left: 0;
      transform: translate(0, -68%);
      width: 40px;
      height: 20px;
      color: var(--accent-color);
      font-size: 1.5rem; // 24px
      letter-spacing: 0em;
      text-align: justify;
   }
   @media (max-width: 1200px) {
      &__item {
         padding-left: 150px;
      }
   }
   @media (max-width: 992px) {
      &__item {
         padding-left: 100px;
      }
   }
   @media (max-width: 768px) {
      &__item {
         display: flex;
         flex-direction: column;
         align-items: start;
         padding-top: 40px;
         padding-left: 0;
         gap: 12px;
      }
      &__item::before {
         top: 23px;
         font-size: 20px;
      }
   }

   // .stages__item-title

   &__item-title {
      font-size: 14px;
      text-transform: none;
   }
   @media (max-width: 768px) {
      &__item-title {
         font-size: 12px;
      }
   }

   // .stages__item-desc

   &__item-desc {
      font-size: 14px;
      max-width: 600px;
      letter-spacing: 0em;
      text-align: justify;
   }
   @media (max-width: 768px) {
      &__item-desc {
         max-width: 100%;
         padding-right: 20%;
         font-size: 12px;
      }
   }
   @media (max-width: 600px) {
      &__item-desc {
         padding-right: 0;
      }
   }

   // .stages__images

   &__images {
      pointer-events: none;
   }

   // .stages__image-item

   &__image-item {
      display: none;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;

      padding: 1px;
      background: var(--light-bg-color);
      z-index: 120;
      img {
         max-width: 10vw;
         max-height: 30vh;
         width: auto;
         height: auto;
      }
   }
}
.stages__image-item.active {
   display: block;
}
@media (max-width: 768px) {
   .stages {
      padding-top: 70px;
      padding-bottom: 50px;
   }
}
