@use "helpers/intermediary" as h;

.story {
   padding-top: 3.125rem; // 50px
   padding-bottom: 3.125rem; // 50px

   // .story__container

   &__container {
      @include h.flex(column);
      gap: clamp(0.62rem, 2.5vw, 2.69rem);
   }

   // .story__title

   &__title {
      display: flex;
      flex-direction: column;
      color: var(--accent-color);
      span {
         display: inline-block;
         text-align: right;
         letter-spacing: -0.045rem;
         color: var(--primary-text-color);
      }
   }

   // .story__content

   &__content {
      display: flex;
      justify-content: space-between;
   }

   // .story__block-a

   &__block-a {
   }

   // .story__block-b

   &__block-b {
   }
}

.block-a {
   display: flex;
   gap: clamp(1.875rem, 3.73vw, 4.375rem);

   // .block-a__text

   &__text {
      color: var(--accent-color);
      max-width: 8.25rem; // 132px
      text-align: justify;
      letter-spacing: 0em;
      font-size: 1.125rem; // 18px
      display: flex;
      align-items: flex-end;
   }

   // .block-a__decor

   &__decor {
      width: 12.5rem; // 200px
      height: 10.9375rem; // 175px
   }
}

.block-b {
   max-width: 37.25rem; // 596px
   @include h.flex(column);
   gap: clamp(0.625rem, 2.13vw, 2.5rem); // 10px 40px

   // .block-b__title

   &__title {
      text-align: justify;
      text-transform: none;
      letter-spacing: 0em;
   }

   // .block-b__text

   &__text {
      display: flex;
      gap: clamp(0.9375rem, 2.7vw, 3.125rem); // 15px 50px
      p {
         text-align: justify;
         letter-spacing: 0em;
      }
      p + p {
         max-width: 18.5rem; // 296px
      }
   }
}
