@use "helpers/intermediary" as h;

.story {
   padding-top: 3.125rem; // 50px
   padding-bottom: 3.125rem; // 50px

   // .story__container

   &__container {
      @include h.flex(column);
      gap: clamp(0.62rem, 2.5vw, 2.69rem);
   }
   @media (max-width: 1200px) {
      &__container {
         gap: 40px;
      }
   }

   // .story__title

   &__title {
      display: flex;
      flex-direction: column;
      color: var(--accent-color);
      span {
         display: inline-block;
         text-align: right;
         letter-spacing: -0.045rem;
         color: var(--primary-text-color);
      }
   }
   @media (max-width: 1200px) {
      &__title {
         font-size: 30px;
      }
   }
   @media (max-width: 992px) {
      &__title {
         font-size: 20px;
         span {
            text-align: left;
         }
      }
   }
   @media (max-width: 768px) {
      &__title {
      }
   }

   // .story__content

   &__content {
      display: flex;
      justify-content: space-between;
      gap: clamp(1.875rem, 5vw, 3.125rem);
   }
   @media (max-width: 870px) {
      &__content {
         flex-direction: column-reverse;
      }
   }

   // .story__block-a

   &__block-a {
   }

   // .story__block-b

   &__block-b {
   }
}
@media (max-width: 768px) {
   .story {
      padding-top: 1.5625rem;
      padding-bottom: 1.5625rem;
   }
}

.block-a {
   display: flex;
   gap: clamp(1.875rem, 3.73vw, 4.375rem);

   // .block-a__text

   &__text {
      color: var(--accent-color);
      max-width: 8.25rem; // 132px
      text-align: justify;
      letter-spacing: 0em;
      font-size: 1.125rem; // 18px
      display: flex;
      align-items: flex-end;
   }
   @media (max-width: 870px) {
      &__text {
         max-width: 100%;
      }
   }

   // .block-a__decor

   &__decor {
      max-width: 12.5rem; // 200px
      max-height: 10.9375rem; // 175px

      svg {
         width: 100%;
         height: 100%;
      }
   }
   @media (max-width: 870px) {
      &__decor {
         max-width: 100%;
      }
   }
}

.block-b {
   max-width: 37.25rem; // 596px
   @include h.flex(column);
   gap: clamp(0.625rem, 2.13vw, 2.5rem); // 10px 40px

   // .block-b__title

   &__title {
      text-align: justify;
      text-transform: none;
      letter-spacing: 0em;
   }
   @media (max-width: 1100px) {
      &__title {
         font-size: 20px;
      }
   }

   // .block-b__text

   &__text {
      display: flex;
      gap: clamp(1.56rem, 2.7vw, 3.125rem); // 15px 50px
      p {
         text-align: justify;
         letter-spacing: 0em;
      }
      p + p {
         max-width: 18.5rem; // 296px
      }
   }
   @media (max-width: 870px) {
      &__text {
         p + p {
            max-width: 100%;
         }
      }
   }
}
@media (max-width: 870px) {
   .block-b {
      max-width: 100%; // 470px
      gap: 20px;
   }
}
