// @font-face {
//    font-family: "Zaychik";
//    src:
//       url("../fonts/Zaychik-Light.woff2") format("woff2"),
//       url("../fonts/Zaychik-Light.woff") format("woff");
//    font-weight: 300;
//    font-style: normal;
//    font-display: swap;
// }

@font-face {
   font-family: "Zaychik";
   src:
      url("../fonts/Zaychik-Regular.woff2") format("woff2"),
      url("../fonts/Zaychik-Regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Druk Text Wide Trial";
   src:
      url("../fonts/DrukTextWide-Bold-Trial.woff2") format("woff2"),
      url("../fonts/DrukTextWide-Bold-Trial.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Raleway";
   src:
      url("../fonts/Raleway-Medium.woff2") format("woff2"),
      url("../fonts/Raleway-Medium.woff") format("woff");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}
