/* box sizing */
*,
*::before,
*::after {
   box-sizing: border-box;
}

/* remove default margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure {
   margin: 0;
   padding: 0;
}

/* body base */
body {
   min-height: 100vh;
   line-height: 1.5;
   -webkit-font-smoothing: antialiased;
}

/* lists */
ul,
ol {
   list-style: none;
}

/* images */
img,
picture {
   max-width: 100%;
   display: block;
}

/* links */
a {
   text-decoration: none;
   color: inherit;
}

/* buttons & inputs */
button,
input,
textarea,
select {
   font: inherit;
   border: none;
   background: none;
   outline: none;
   padding: 0;
}

/* tables */
table {
   border-collapse: collapse;
   border-spacing: 0;
}
