@use "helpers/intermediary" as h;

html,
body {
   height: 100%;
}

body {
   display: flex;
   flex-direction: column;

   @include h.font(h.$ff-primary, 700, normal);
   font-size: 14px;
   color: var(--primary-text-color);
   background-color: var(--primary-bg-color);
}

main {
   flex: 1;
   overflow-x: hidden;
}

.container {
   max-width: 1260px;
   margin: 0 auto;
   padding: 0 20px;
}

.section {
   padding: 60px 0;
}

:root {
   --primary-bg-color: #1f1f1f;
   --accent-color: #97c2ec;
   --primary-text-color: #ffffff;
   --secondary-text-color: #0a0909;
   --light-bg-color: #c0c0c0;
   --auxiliary-color-logo: #028502;
   --auxiliary-color-cam: #d60101;
}
