@use "helpers/intermediary" as h;

html,
body {
   height: 100%;
}

body {
   display: flex;
   flex-direction: column;
   flex-shrink: 0;
   @include h.font(h.$ff-primary, 700, normal);
   font-size: 14px;
   color: var(--primary-text-color);
   background-color: var(--primary-bg-color);
}

body::after {
   content: "";
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   background-image: url(../sources/noise.png);
   background-repeat: repeat;
   opacity: 0.4;
   z-index: 1000;

   mix-blend-mode: overlay;
}

main {
   flex: 1;
   overflow-x: hidden;
}

.container {
   max-width: 1260px;
   margin: 0 auto;
   padding: 0 20px;
}

.section {
   padding: 60px 0;
}

:root {
   --primary-bg-color: #1f1f1f;
   --accent-color: #97c2ec;
   --primary-text-color: #ffffff;
   --secondary-text-color: #0a0909;
   --light-bg-color: #c0c0c0;
   --auxiliary-color-logo: #028502;
   --auxiliary-color-cam: #d60101;
}

// ========= typography ===========
h1,
h2,
h3,
h4,
h5,
h6 {
   line-height: 1;
   letter-spacing: -0.04em;
   text-align: left;
   text-transform: uppercase;
}
h1 {
   font-size: 2.75rem; // 44px
}
h2 {
   font-size: 2.25rem; // 36px
}
h3 {
   font-size: 2.125rem; // 34px
}
